<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="50x50" href="img/favicon.png">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script type="module" src="media.js"></script>



    <title>Thibault MARIE-ANGÉLIQUE</title>
</head>

<body>
    <section class="loader">
        <div class="blockLettre">
            <p class="lettre">L</p>
            <p class="lettre">o</p>
            <p class="lettre">a</p>
            <p class="lettre">d</p>
            <p class="lettre">i</p>
            <p class="lettre">n</p>
            <p class="lettre">g</p>
        </div>
    </section>
    <div class="navfond"></div>
    <header>
        <section class="hfond">
            <h1 class="titre"><a href="#"> Thibault<br> MARIE-ANGÉLIQUE</a></h1>
            <div class="icon"></div> 

            <div class="decepir">
                <ul>
                    <li><a href="#aPropos">À PROPOS</a></li>
                    <li><a href="#Competences">COMPÉTENCES</a></li>
                    <li><a href="#portfolio">PORTFOLIO</a></li>
                    <li><a href="#experience">ÉXPÉRIENCES</a></li>

                </ul>
                <div class="contact">
                    <a href="#contact">ME CONTACTER</a>
                </div>
            </div>
        </section>
    </header>
    <aside>
    </aside>
    <main id="main">
        <section id="aPropos">
                <h2 class="sectionTitre"> </h2>
            <article class="profil">

                <img class="matete" src="img/moi-modified.png" alt="tatete">
                <div class="fenettre">
                    <div class="barre">
                        <div class="barreTop">
                            <div class="onglet ">
                                <img src="img/logo/ubuntu.svg" alt="ubuntu" class="barreIcon">
                                <p class="ongletNom"> Terminal </p>
                                <p class="croix">x</p>
                            </div>
                            <a target="blank" href="https://www.linkedin.com/in/thibault-marie-ang%C3%A9lique" class="onglet fermer">
                                <img src="img/icon/linkedin.png" class="barreIcon" alt="LinkedIn">
                                <p class="ongletNom"> LinkedIn </p>
                                <p class="croix">x</p>
                            </a>
                            <a target="blank" href="https://github.com/thibaultMA" class="onglet fermer">
                                <svg class="barreIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>

                                <p class="ongletNom"> Github </p>
                                <p class="croix">x</p>
                            </a>
                            <div class="onglet fermer ajout">
                                <p>+</p>
                            </div>
                        </div>
                        <input type="submit" class="btnPage" value="_"></input>
                        <input type="submit" class="btnPage" value="▢"></input>
                        <input type="submit" class="btnPage" value="X"></input>
                    </div>
                    <p class="textPresentation"></p>
                </div>
            </article>
        </section>
        <section id="vue">
            <section id="Competences">
                <h2 class="sectionTitre">Compétences</h2>
                <article class="technoBox">
                    <div class="techlist">
                        <div class="tech" v-for="item in projet.technos">
                            <a target="blank" :href="item.site">
                                <img class="logos" :src="item.image" :alt="item.nom" :title="item.nom">
                            </a>
                            <P class="techNom">{{item.nom}}</P>
                        </div>
                    </div>
                </article>
            </section>
            <section id="portfolio">
                <div id="projets">
                    <h2 class="TitreProjet ">Projets</h2>
                    <div class="boxliste">
                        <div class="definProjet" v-if="totalProjet !=0">
                            <div class="descriptionProjet">
                                <h3 class="defProjetNom">{{projet[categoriProjet][first].nom}}</h3>
                                <p class="defProjet">{{projet[categoriProjet][first].text}}</p>
                                <div class="iconProjet">
                                    <a  target="blank" v-for="tech in projet[categoriProjet][first].techno" :href="tech.site" class="link">
                                        <img  :src="tech.url" class="technoProjet" :alt="tech.nom">
                                    </a>
                                    <a target="blank" :href="projet[categoriProjet][first].github" v-if="projet[categoriProjet][first].github != '' " class=" link "> 
                                        <svg class="technoProjet" :title="'lien vers ' +projet[categoriProjet][first].nom" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="currentColor" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="boxProjet"> 
                            <h3 class="typeProjet" v-on:click="typeProjet('formations')"
                                :class="{'fucusType' : categoriProjet === 'formations'  }">Formations</h3>
                            <h3 class="typeProjet" v-on:click="typeProjet('perso')"
                                :class="{'fucusType' : categoriProjet === 'perso'  }">Personnels</h3>

                            <img v-if="first != 0" class="btnclick btn_left" src="img/icon/arrow_left.svg" alt="" @click="decaleProjet(-1)">
                            <img v-if="first != totalProjet-1" class="btnclick btn_right" src="img/icon/arrow_left.svg"alt="" @click="decaleProjet(1)">

                            <div class="projetList" :class="categoriProjet" :style="{left:- totalPX + 'px'}">
                                <article v-for="(item,index) in projet[categoriProjet]" class="projet"
                                    :class="{'first' : first === index }">
                                    <img :src="item.image" :alt="item.nom" class="photoProjet"
                                        @click="projetCible(index)">
                                </article>
                            </div>
                        </div>

                    </div>
            </section>

            <section id="experience">
                <h2 class="sectionTitre">Experience & Formation</h2>
                <div class="ExpBox">
                    <article class="exp">
                        <img src="img/logo/OpenClassrooms.png" alt="" class="logoStructure">
                        <div class="expInfo">
                            <h3 class="expstructure">OpenClassRoom's</h3>
                            <p class="expdate">2020 / 2021</p>
                            <p class="expNom">Bac+2 developpeur web</p>
                            <p class="expDescription">Formation en distenciel sur la creation d'un site web, apprentissage de plusieurs language</p>
                        </div>
                    </article>
                    <article class="exp">
                        <img src="img/logo/LCF_logo.png" alt="" class="logoStructure">
                         <div class="expInfo">   
                            <h3 class="expstructure">LCF Reseaux</h3>
                            <p class="expdate">2019 / 2020</p>
                            <p class="expNom">Technicien fibre optique</p>
                            <p class="expDescription">Installation de fibre optique au pres de particuliers</p>
                        </div>
                    </article>
                </div>  
            </section>
            
        </section>
    </main>
    <footer >
        <section id="contact">
            <h2 class="sectionTitre">contact</h2>
            <div class="BoxContact">
                <a target="blank" href="mailto:thibault.m-a@outlook.com" class="contactLink"><img src="img/icon/email.png" alt="email"> email</a>
                <a target="blank" href="CV_thibault.pdf" class="contactLink"><img src="img/icon/cv.png" alt="cv"> cv</a>
                <a target="blank" href="https://www.linkedin.com/in/thibault-marie-ang%C3%A9lique" class="contactLink"><img src="img/icon/linkedin.png" alt="LinkedIn"> LinkedIn</a>
                <a target="blank" href="https://github.com/thibaultMA" class="contactLink">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                     github
                </a>
                
            </div>
            <!-- email linkedin github cv -->
        </section>
    </footer>
    <script>
        new Vue({
            el: "#vue",
            data() {
                return {
                    categoriProjet: 'formations',
                    affiche: false,

                    first: 0,
                    nbrProj: 0,
                    decalePX: [],
                    totalPX: 0,
                    totalProjet: 0,

                    projet: {}
                }
            },
            methods: {
                projetCible(n) {

                    let f = n - this.first
                    this.decaleProjet(f)
                },
                typeProjet(type) {

                    this.nbrProj = 0
                    this.first = 0
                    this.categoriProjet = type
                    this.decalePX = []
                    this.totalPX = 0
                    this.totalProjet = 0
                    this.totalProjet = this.projet[this.categoriProjet].length
                },
                decaleProjet(direction) {
                    if ((direction == -1 && this.first == 0) || direction == 1 && this.first == this.totalProjet - 1) {// depasse pas les bord

                        direction = 0
                    }
                    this.first = this.first + direction
                    if (direction == 1) {

                        this.decalePX.push(document.querySelectorAll('.projet')[this.first - 1].offsetWidth)
                        this.totalPX = this.decalePX.reduce((acc, cur) => acc + cur, 0);
                    }
                    if (direction == -1) {

                        this.decalePX.pop()
                        let o = this.decalePX.reduce((acc, cur) => acc + cur, 0);
                        this.totalPX = o
                    }
                },
                endLoad() {
                    const loader = document.querySelector(".loader")
                    let annimText = document.querySelector('.textPresentation')
                    let nomMachine = '<span class="textPrefix"> moi@PRESENTATION</span> :<span style="color:#6b96ca">~</span>$ '

                    voirla()
                    setTimeout(() => {
                        loader.remove()
                    }, 2000)

                    function voirla() {

                        let typewriter = new Typewriter(annimText, {
                            deleteSpeed: 40,
                            delay: 70,
                        })
                        typewriter
                            .pasteString(nomMachine)
                            .pauseFor(3000)
                            // .changeDelay
                            .typeString('Développeur Web ')
                            .typeString(' ')
                            .pauseFor(150)
                            .typeString(" un peu <strong class='focusText'>FRONT END</strong>")
                            .pauseFor(600)
                            .deleteChars(17)
                            .typeString(" un peu <strong  class='focusText'>BACK END</strong>")
                            .pauseFor(600)
                            .deleteChars(17)
                            .typeString(" Bref un peu <strong  class='focusText' > FULL STACK</strong> <br>")
                            .pasteString(nomMachine)
                            // .pauseFor(2000)
                            .pauseFor(700)
                            .typeString('Retrouvez sur ce site,')
                            .typeString('<br>')
                            .pasteString(nomMachine)
                            .pauseFor(300)

                            .typeString("<strong class='focusText'> les projets </strong> ")
                            .pauseFor(300)
                            .typeString(" qui ont fait de moi")
                            .pauseFor(300)

                            .typeString(' le développeur que je suis aujourd\'hui')
                            // .pauseFor(300)
                            .typeString('<br>')
                            .pasteString(nomMachine)
                            .pauseFor(2000)
                            .typeString("N\'hésitez pas à me contacter <a href='#contact' class='focusText' ><strong class='focusText'>ICI</strong></a><br>")
                            .pasteString(nomMachine)
                            .pauseFor(700)
                            .typeString('pour simplement discuter')
                            .pauseFor(500)
                            .typeString(' ou pour toutes questions sur mon profil <br>')

                            .pasteString(nomMachine)
                            .pauseFor(700)
                            .typeString(' Merci ')
                            .pauseFor(500)
                            .typeString(' et ')
                            .pauseFor(300)
                            .typeString('bonne visite !<br>')
                            .pasteString(nomMachine)
                            .start();
                    }
                }
            },
            created() {
                fetch('projet.json')
                    .then(response => response.json())
                    .then(data => {
                        let Ndata = {}
                        for (const key in data) {
                            if (key == "technos") {
                                Ndata[key] = data[key]
                            } else
                                Ndata[key] = data[key].slice().reverse()
                        }
                        return Ndata
                    })
                    .then(p => {
                        this.projet = p
                        this.totalProjet = this.projet[this.categoriProjet].length
                        this.endLoad()
                    })
            },
            mounted: async function () {
            },
            updated: function () {
            },
        })
    </script>
</body>
</html>