<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="50x50" href="img/favicon.png">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script type="module" src="media.js"></script>

    <!-- json lecture ok -->
    <!-- gerer l'affichage en vuejs -->

    <title>Thibault MARIE-ANGÉLIQUE</title>
</head>

<body>
    <section class="loader">
        <div class="blockLettre">
            <p class="lettre">L</p>
            <p class="lettre">o</p>
            <p class="lettre">a</p>
            <p class="lettre">d</p>
            <p class="lettre">i</p>
            <p class="lettre">n</p>
            <p class="lettre">g</p>
        </div>
    </section>
    <div class="navfond"></div>
    <header>
        <section class="hfond">
            <h1 class="titre"><a href="#"> Thibault<br> MARIE-ANGÉLIQUE</a></h1>
            <div class="icon"></div>

            <div class="decepir">
                <ul>
                    <li><a href="#aPropos">À PROPOS</a></li>
                    <li><a href="#Competences">COMPÉTENCES</a></li>
                    <li><a href="#portfolio">PORTFOLIO</a></li>
                    <li><a href="#experience">ÉXPÉRIENCES</a></li>

                </ul>
                <div class="contact">
                    <a href="#contact">ME CONTACTER</a>
                </div>
            </div>
        </section>
    </header>
    <aside>
    </aside>
    <main id="main">
        <section id="aPropos">
            <h2 class="sectionTitre"> </h2>
            <article class="profil">

                <img class="matete" src="img/moi-modified.png" alt="tatete">
                <div class="fenettre">
                    <div class="barre">
                        <div class="barreTop">
                            <div class="onglet ">
                                <img src="img/logo/ubuntu.svg" alt="ubuntu" class="barreIcon">
                                <p class="ongletNom"> Terminal </p>
                                <p class="croix">x</p>
                            </div>
                            <a target="blank" href="https://www.linkedin.com/in/thibault-marie-ang%C3%A9lique"
                                class="onglet fermer">
                                <img src="img/icon/linkedin.png" class="barreIcon" alt="LinkedIn">
                                <p class="ongletNom"> LinkedIn </p>
                                <p class="croix">x</p>
                            </a>
                            <a target="blank" href="https://github.com/thibaultMA" class="onglet fermer">
                                <img src="img/logo/github.svg" alt="github" class="barreIcon">
                                <p class="ongletNom"> Github </p>
                                <p class="croix">x</p>
                            </a>
                            <div class="onglet fermer ajout">
                                <p>+</p>
                            </div>
                        </div>
                        <input type="submit" class="btnPage" value="_"></input>
                        <input type="submit" class="btnPage" value="▢"></input>
                        <input type="submit" class="btnPage" value="X"></input>
                    </div>
                    <p class="textPresentation"></p>
                </div>
            </article>
        </section>
        <section id="vue">
            <section id="Competences">
                <h2 class="sectionTitre">Compétences</h2>
                <article class="technoBox">
                    <div class="techlist">
                        <div class="tech" v-for="item in projet.technos">
                            <a target="blank" :href="item.site">
                                <img class="logos" :src="item.image" :alt="item.nom" :title="item.nom">
                            </a>
                            <P class="techNom">{{item.nom}}</P>
                        </div>
                    </div>
                </article>
            </section>
            <section id="portfolio">
                <div id="projets">
                    <h2 class="TitreProjet ">Projets</h2>
                    <div class="boxliste">
                        <div class="definProjet" v-if="totalProjet !=0">
                            <!-- description du projet  -->
                            <div class="descriptionProjet">
                                <Transition name="fade-in" mode="out-in">
                                    <h3 class="defProjetNom" :key="currentProjet[first].nom">
                                        {{currentProjet[first].nom}}</h3>
                                </transition>
                                <Transition name="fade-in" mode="out-in">
                                    <p class="defProjet" :key="currentProjet[first].text">
                                        {{currentProjet[first].text}}</p>
                                </transition>
                                <Transition name="fade-in" mode="out-in">
                                    <div class="iconProjet" :key="first">
                                        <a target="blank" v-for="tech in currentProjet[first].techno" :href="tech.site"
                                            class="link">
                                            <img :src="tech.url" class="technoProjet" :alt="tech.nom">
                                        </a>
                                        <a target="blank" :href="currentProjet[first].github"
                                            v-if="currentProjet[first].github != '' " class=" link ">
                                            <img src="img/logo/github.svg" alt="github" class="technoProjet"
                                                :title="'lien vers '+currentProjet[first].nom">
                                        </a>
                                    </div>
                                </transition>
                            </div>
                        </div>
                        <!-- choix de la categorie a regarder -->
                        <div class="boxProjet">
                            <div class="choixNavProjet">
                                <div class="choix">
                                    <!-- choix formation -->
                                    <h3 class="typeProjet typeFormation"
                                        v-on:click="typeProjet('formations','Diginamic')"
                                        :class="{'fucusType' : categoriProjet === 'Diginamic'||categoriProjet === 'Openclassrooms' }">
                                        Formations</h3>
                                    <!-- choix perso-->
                                    <h3 class="typeProjet" v-on:click="typeProjet('perso')"
                                        :class="{'fucusType' : categoriProjet === 'perso'  }">Personnels</h3>
                                </div>
                                <div class="choix choixClasse"
                                    v-if="categoriProjet == 'Diginamic' || categoriProjet == 'Openclassrooms'">
                                    <!-- choix Diginamic -->
                                    <h3 class="typeProjet" v-on:click="typeProjet('formations','Diginamic')"
                                        :class="{'fucusType' : categoriProjet === 'Diginamic'  }">Diginamic</h3>
                                    <!-- choix opcr -->
                                    <h3 class="typeProjet" v-on:click="typeProjet('formations','Openclassrooms')"
                                        :class="{'fucusType' : categoriProjet === 'Openclassrooms'  }">Openclassrooms
                                    </h3>
                                </div>
                            </div>
                            <img v-if="first != 0" class="btnclick btn_left" src="img/icon/arrow_left.svg" alt=""
                                @click="decaleProjet(-1)">
                            <img v-if="first != totalProjet-1" class="btnclick btn_right" src="img/icon/arrow_left.svg"
                                alt="" @click="decaleProjet(1)">

                            <div class="projetList" :class="categoriProjet" :style="{left:- totalPX + 'px'}">
                                <!-- boucle sur les current projets -->
                                <article v-for="(item,index) in currentProjet" class="projet"
                                    :class="{'first' : first === index }">
                                    <img :src="item.image" :alt="item.nom" class="photoProjet"
                                        @click="projetCible(index)">
                                </article>
                            </div>
                        </div>

                    </div>
            </section>

            <section id="experience">
                <h2 class="sectionTitre">Expériences & Formations</h2>
                <div class="ExpBox">
                    <article class="exp">
                        <img src="img/logo/OpenClassrooms.png" alt="OpenClassRoom's" class="logoStructure">
                        <div class="expInfo">
                            <h3 class="expstructure">OpenClassRoom's</h3>
                            <p class="expdate">2020 / 2021</p>
                            <p class="expNom">Développeur Web</p>
                            <p class="expDescription">Formation en distanciel sur la création d'un site web,
                                Apprentissage de plusieurs languages</p>
                            <p class="expNiveau">titre niveau 6 / Bac+2</p>
                        </div>
                    </article>
                    <article class="exp">
                        <img src="img/logo/LCF_logo.png" alt="LCF" class="logoStructure">
                        <div class="expInfo">
                            <h3 class="expstructure">LCF Réseaux</h3>
                            <p class="expdate">2019 / 2020</p>
                            <p class="expNom">Technicien Fibre Optique</p>
                            <p class="expDescription">Installation de Fibre Optique auprès des particuliers</p>
                        </div>
                    </article>
                    <article class="exp">
                        <img src="img/logo/AES.jpg.crdownload" alt="AES" class="logoStructure">
                        <div class="expInfo">
                            <h3 class="expstructure">Atlantique Électricité Service </h3>
                            <p class="expdate">2014 / 2016</p>
                            <p class="expNom">Apprenti électricien</p>
                            <p class="expDescription">Réalisation de chantiers en électricité</p>
                            <p class="expNiveau">CAP PROElec</p>
                        </div>
                    </article>
                </div>
            </section>

        </section>
    </main>
    <footer>
        <section id="contact">
            <h2 class="sectionTitre">contact</h2>
            <div class="BoxContact">
                <a target="blank" href="mailto:thibault.m-a@outlook.com" class="contactLink"><img
                        src="img/icon/email.png" alt="email"> Email</a>
                <a target="blank" href="CV_thibault.pdf" class="contactLink"><img src="img/icon/cv.png" alt="cv"> CV</a>
                <a target="blank" href="https://www.linkedin.com/in/thibault-marie-ang%C3%A9lique"
                    class="contactLink"><img src="img/icon/linkedin.png" alt="LinkedIn"> LinkedIn</a>
                <a target="blank" href="https://github.com/thibaultMA" class="contactLink">
                    <img src="img/logo/github.svg" alt="github">
                    Github
                </a>

            </div>
            <!-- email linkedin github cv -->
        </section>
    </footer>
    <script>
        new Vue({
            el: "#vue",
            data() {
                return {
                    categoriProjet: 'Diginamic',
                    affiche: false,

                    first: 0,
                    nbrProj: 0,
                    decalePX: [],
                    totalPX: 0,
                    totalProjet: 0,
                    currentProjet: null,
                    projet: {}
                }
            },
            methods: {
                projetCible(n) {

                    let f = n - this.first
                    this.decaleProjet(f)
                },
                typeProjet(type, ecole) {

                    this.nbrProj = 0
                    this.first = 0
                    this.decalePX = []
                    this.totalPX = 0
                    this.totalProjet = 0
                    this.categoriProjet = ecole ? ecole : type
                    if (ecole) {
                        this.currentProjet = this.projet[type][ecole]
                    } else {
                        this.currentProjet = this.projet[type]
                    }

                    this.totalProjet = this.currentProjet.length
                },
                decaleProjet(direction) {
                    if ((direction == -1 && this.first == 0) || direction == 1 && this.first == this.totalProjet - 1) {// depasse pas les bord

                        direction = 0
                    }
                    this.first = this.first + direction
                    if (direction == 1) {

                        this.decalePX.push(document.querySelectorAll('.projet')[this.first - 1].offsetWidth)
                        this.totalPX = this.decalePX.reduce((acc, cur) => acc + cur, 0);
                    }
                    if (direction == -1) {

                        this.decalePX.pop()
                        let decalage = this.decalePX.reduce((acc, cur) => acc + cur, 0);
                        this.totalPX = decalage
                    }
                },
                endLoad() {
                    const loader = document.querySelector(".loader")
                    let annimText = document.querySelector('.textPresentation')
                    let nomMachine = '<span class="textPrefix"> moi@PRESENTATION</span> :<span style="color:#6b96ca">~</span>$ '

                    voirla()
                    setTimeout(() => {
                        loader.remove()
                    }, 2000)

                    function voirla() {

                        let typewriter = new Typewriter(annimText, {
                            deleteSpeed: 20,
                            delay: 60,
                        })
                        typewriter
                            .pasteString(nomMachine)
                            .pauseFor(3000)
                            .typeString('Développeur ')
                            .pasteString(' ')
                            .pauseFor(150)
                            .typeString(" un peu <strong class='focusText'>FRONT END</strong>")
                            .pauseFor(700)
                            .deleteChars(17)
                            .typeString(" un peu <strong  class='focusText'>BACK END</strong>")
                            .pauseFor(700)
                            .deleteChars(17)
                            .typeString(" Bref un peu <strong  class='focusText' > FULL STACK</strong> <br>")
                            .pasteString(nomMachine)
                            .pauseFor(700)
                            .typeString('Retrouvez sur ce site')
                            .typeString('<br>')
                            .pasteString(nomMachine)
                            .pauseFor(300)

                            .typeString("<strong class='focusText'> les projets </strong> ")
                            .pauseFor(300)
                            .typeString(" qui ont fait de moi")
                            .pauseFor(300)

                            .typeString(' le développeur que je suis aujourd\'hui')
                            // .pauseFor(300)
                            .typeString('<br>')
                            .pasteString(nomMachine)
                            .pauseFor(700)
                            .typeString("N\'hésitez pas à me contacter <a href='#contact' class='focusText' ><strong class='focusText'>ICI</strong></a><br>")
                            .pasteString(nomMachine)
                            .pauseFor(700)
                            .typeString('pour faire connaissance')
                            .pauseFor(500)
                            .typeString(' ou pour toutes questions sur mon profil <br>')

                            .pasteString(nomMachine)
                            .pauseFor(700)
                            .typeString(' Merci ')
                            .pauseFor(500)
                            .typeString(' et ')
                            .pauseFor(300)
                            .typeString('bonne visite !<br>')
                            .pasteString(nomMachine)
                            .start();
                    }
                }
            },
            created() {
                fetch('projet.json')
                    .then(response => response.json())
                    .then(data => {
                        let { formations, perso, technos } = data
                        perso.reverse()
                        for (const key in formations) {
                            formations[key].reverse()
                        }
                        return data
                    })
                    .then(p => {

                        this.projet = p
                        this.currentProjet = this.projet.formations[this.categoriProjet]
                        this.totalProjet = this.projet.formations[this.categoriProjet].length
                        this.endLoad()
                    })
            },
            mounted: async function () {
            },
            updated: function () {
            },
        })
    </script>
</body>

</html>