.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--box);
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader .blockLettre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3.3rem;
}

.loader .blockLettre .lettre {
  color: var(--mainColor);
  -webkit-animation: flash 1.1s  infinite linear;
          animation: flash 1.1s  infinite linear;
}

.loader .blockLettre .lettre:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader .blockLettre .lettre:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader .blockLettre .lettre:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader .blockLettre .lettre:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader .blockLettre .lettre:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader .blockLettre .lettre:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader .blockLettre .lettre:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loader .blockLettre .lettre:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loader .blockLettre .lettre:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.loader .blockLettre .lettre:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

:root {
  --box:#2023254d;
  --barre:#424242;
  --hover:#f25a11;
  --mainColor: #BC4A14;
  --consoleText:#7cfd38;
  --bgc:#19181b;
  --dark:#000;
  --onglet:#272727;
  --fontWhite:#ffffff;
  --box:#303336;
  --focusTexte:#6b96ca;
}

* {
  margin: 0;
  fill: #FFF;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--fontWhite);
  background-color: var(--bgc);
}

body a {
  color: var(--fontWhite);
  text-decoration: none;
}

.navfond {
  position: absolute;
  z-index: 2;
  opacity: 0.4;
}

.nav {
  background: var(--barre);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

header {
  padding: 30px 5px 0;
}

header header a {
  color: var(--fontWhite);
}

header .hfond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .hfond .titre {
  margin-left: 5%;
  margin: 2%;
  font-size: 20px;
  white-space: nowrap;
}

header .hfond .icon {
  display: none;
  color: var(--fontWhite);
  position: relative;
  right: 2%;
  margin-left: 2px;
  margin-top: 10px;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}

header .hfond .icon:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}

header .hfond .icon:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}

@media (max-width: 768px) {
  header .hfond .icon {
    display: block;
  }
}

header .hfond .decepir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 926px) {
  header .hfond .decepir {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}

header .hfond .decepir ul {
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .hfond .decepir ul li {
  list-style: none;
  padding: 5px;
  margin: 5px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .hfond .decepir ul li:hover a {
  font-weight: bold;
  font-size: 18px;
}

header .hfond .decepir .contact {
  background: var(--mainColor);
  justify-self: flex-end;
  font-weight: bold;
  border-radius: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px;
  margin: 2%;
  margin-left: auto;
}

@media (max-width: 926px) {
  header .hfond .decepir .contact {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

header .hfond .decepir .contact:hover {
  animation: hoverContact forwards reverse linear 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: var(--hover);
  text-align: center;
}

@media (max-width: 768px) {
  header .hfond .decepir {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 0px;
    right: 0;
    top: 0;
    z-index: 4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
  }
  header .hfond .decepir ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  header .hfond .decepir .contact {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
  }
}

header .hfond .navir {
  display: block;
  height: 200vh;
  right: 0;
}

header .hfond .nav {
  width: 60%;
  background: var(--box);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main {
  max-width: 1400px;
  margin: auto;
  padding: 20px 1% 0;
}

main #apropos,
main #Competences,
main #portfolio,
main #experience,
main footer {
  padding-top: 6%;
}

@media (max-width: 425px) {
  main p, main a {
    font-size: 14px;
  }
}

.sectionTitre {
  margin: 5px 13%;
}

@media (max-width: 921px) {
  .sectionTitre {
    margin: 0;
    text-align: center;
  }
}

.profil {
  max-width: 1000px;
  width: 79%;
  margin: 1%  auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-radius: 5px;
  position: relative;
  right: -4%;
}

@media (max-width: 614px) {
  .profil {
    width: 95%;
    right: 0;
  }
}

@media (max-width: 425px) {
  .profil {
    width: 100%;
  }
}

.profil .matete {
  position: absolute;
  width: 20%;
  left: -15%;
  margin: 2% 0;
  border: #FFF solid;
  border-radius: 50%;
}

@media (max-width: 614px) {
  .profil .matete {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 425px) {
  .profil .matete {
    width: 50%;
  }
}

.profil .fenettre {
  background: var(--box);
}

@media (max-width: 425px) {
  .profil .fenettre {
    width: 100%;
  }
}

.profil .fenettre .barre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--barre);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: solid gray;
  width: 100%;
  border-radius: 5px  5px 0 0;
}

.profil .fenettre .barre .barreTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1%;
  width: 100%;
}

.profil .fenettre .barre .barreTop .onglet {
  background: gray;
  width: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  border-radius: 5px 5px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1%;
  border-right: solid 1px black;
  border-left: solid 1px black;
}

@media (max-width: 849px) {
  .profil .fenettre .barre .barreTop .onglet {
    width: 20%;
  }
}

@media (max-width: 707px) {
  .profil .fenettre .barre .barreTop .onglet {
    width: 26%;
  }
}

@media (max-width: 707px) {
  .profil .fenettre .barre .barreTop .onglet {
    width: 28%;
  }
}

@media (max-width: 425px) {
  .profil .fenettre .barre .barreTop .onglet {
    width: 100%;
  }
}

.profil .fenettre .barre .barreTop .onglet .ongletNom {
  margin: 8px;
}

.profil .fenettre .barre .barreTop .onglet .barreIcon {
  height: 1.1rem;
}

@media (max-width: 489px) {
  .profil .fenettre .barre .barreTop .onglet .croix {
    display: none;
  }
}

.profil .fenettre .barre .barreTop .fermer {
  background: var(--onglet);
}

.profil .fenettre .barre .barreTop .ajout {
  padding: 0;
  width: 4%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 849px) {
  .profil .fenettre .barre .barreTop .ajout {
    width: 4%;
  }
}

@media (max-width: 707px) {
  .profil .fenettre .barre .barreTop .ajout {
    width: 6%;
  }
}

@media (max-width: 425px) {
  .profil .fenettre .barre .barreTop .ajout {
    display: none;
  }
}

.profil .fenettre .barre .btnPage {
  color: var(--dark);
  border: none;
}

.profil .fenettre .barre .btnPage:last-child {
  border-radius: 0 5px 0 0;
}

.profil .fenettre .barre .btnPage:last-child:hover {
  background: #da2727;
  border-style: none;
}

.profil .fenettre .barre .btnPage:hover {
  opacity: 0.8;
}

@media (max-width: 425px) {
  .profil .fenettre .barre .btnPage {
    display: none;
  }
}

.profil .fenettre .textPresentation {
  margin: 20px;
  width: 90%;
  height: 136px;
  left: 5%;
  top: 15%;
  position: relative;
  /* border: solid 1px; */
  overflow: hidden;
}

@media (max-width: 966px) {
  .profil .fenettre .textPresentation {
    height: 165px;
    line-height: 20px;
  }
}

@media (max-width: 952px) {
  .profil .fenettre .textPresentation {
    height: 186px;
  }
}

@media (max-width: 714px) {
  .profil .fenettre .textPresentation {
    height: 206px;
  }
}

@media (max-width: 614px) {
  .profil .fenettre .textPresentation {
    position: unset;
    height: 186px;
  }
}

@media (max-width: 598px) {
  .profil .fenettre .textPresentation {
    height: 206px;
  }
}

@media (max-width: 502px) {
  .profil .fenettre .textPresentation {
    height: 226px;
  }
}

@media (max-width: 426px) {
  .profil .fenettre .textPresentation {
    height: 198px;
  }
}

@media (max-width: 426px) {
  .profil .fenettre .textPresentation {
    margin: 10px auto;
    width: 97%;
  }
}

@media (max-width: 426px) {
  .profil .fenettre .textPresentation {
    height: 218px;
  }
}

@media (max-width: 321px) {
  .profil .fenettre .textPresentation {
    height: 238px;
  }
}

@media (max-width: 311px) {
  .profil .fenettre .textPresentation {
    height: 258px;
  }
}

@media (max-width: 310px) {
  .profil .fenettre .textPresentation {
    height: 278px;
  }
}

@media (max-width: 304px) {
  .profil .fenettre .textPresentation {
    height: 298px;
  }
}

.profil .fenettre .textPresentation .Typewriter__wrapper {
  font-family: 'Ubuntu', sans-serif;
}

.profil .fenettre .textPresentation .textPrefix {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  color: var(--consoleText);
}

.profil .fenettre .textPresentation .focusText {
  color: var(--focusTexte);
}

.techlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.techlist .tech {
  width: 9%;
  margin: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  max-width: 145.562px;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

@media (max-width: 849px) {
  .techlist .tech {
    width: 14%;
  }
}

@media (max-width: 707px) {
  .techlist .tech {
    width: 20%;
  }
}

.techlist .tech a {
  background: var(--box);
  border-radius: 15px;
}

.techlist .tech a .logos {
  width: 100%;
}

.techlist .tech .techNom {
  text-align: center;
}

#projets {
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-top: 30px;
}

#projets .TitreProjet {
  margin-left: 13%;
  z-index: 1;
}

@media (max-width: 639px) {
  #projets .TitreProjet {
    margin: 3% auto;
  }
}

#projets .boxliste {
  position: relative;
  left: -5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

@media (max-width: 639px) {
  #projets .boxliste {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    left: 0;
  }
}

#projets .boxliste .definProjet {
  position: relative;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  left: 10%;
  bottom: 10%;
  height: 110%;
  width: 50%;
  background: var(--box);
}

@media (max-width: 639px) {
  #projets .boxliste .definProjet {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    left: 0;
    top: 0%;
    width: 90%;
    height: 200px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 2%;
  }
}

#projets .boxliste .definProjet .descriptionProjet {
  margin-left: 5%;
  height: 80%;
  width: 73%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 639px) {
  #projets .boxliste .definProjet .descriptionProjet {
    width: 90%;
  }
}

#projets .boxliste .definProjet .descriptionProjet .defProjetNom {
  text-decoration: underline;
}

#projets .boxliste .definProjet .descriptionProjet .iconProjet {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#projets .boxliste .definProjet .descriptionProjet .iconProjet .link {
  display: block;
  width: -webkit-fill-available;
  max-width: 25%;
}

#projets .boxliste .definProjet .descriptionProjet .imgGithub {
  float: right;
}

#projets .boxliste .definProjet img, #projets .boxliste .definProjet svg {
  width: 50%;
}

@media (max-width: 1205px) {
  #projets .boxliste .definProjet img, #projets .boxliste .definProjet svg {
    width: 70%;
  }
}

@media (max-width: 483px) {
  #projets .boxliste .definProjet img, #projets .boxliste .definProjet svg {
    width: 80%;
  }
}

@media (max-width: 414px) {
  #projets .boxliste .definProjet img, #projets .boxliste .definProjet svg {
    width: 100%;
  }
}

#projets .boxliste .boxProjet {
  position: relative;
  overflow: hidden;
  width: 60%;
}

@media (max-width: 639px) {
  #projets .boxliste .boxProjet {
    width: 86%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}

#projets .boxliste .boxProjet .typeProjet {
  cursor: pointer;
  /* color: var(--dark); */
  display: inline-block;
  margin: auto;
}

#projets .boxliste .boxProjet .fucusType {
  color: var(--mainColor);
}

#projets .boxliste .boxProjet .btnclick {
  position: absolute;
  top: 45%;
  width: 2rem;
  height: 2rem;
  z-index: 2;
  background: var(--mainColor);
}

#projets .boxliste .boxProjet .btn_left {
  left: -5px;
}

#projets .boxliste .boxProjet .btn_right {
  right: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#projets .boxliste .boxProjet .projetList {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#projets .boxliste .boxProjet .projetList .projet {
  opacity: 0.3;
}

#projets .boxliste .boxProjet .projetList .projet .photoProjet {
  margin-top: 15px;
  height: 280px;
}

@media (max-width: 1099px) {
  #projets .boxliste .boxProjet .projetList .projet .photoProjet {
    height: 222px;
  }
}

@media (max-width: 1099px) {
  #projets .boxliste .boxProjet .projetList .projet .photoProjet {
    height: 222px;
  }
}

@media (max-width: 849px) {
  #projets .boxliste .boxProjet .projetList .projet .photoProjet {
    height: 163px;
  }
}

#projets .boxliste .boxProjet .projetList .first {
  position: relative;
  z-index: 1;
  left: 1%;
  opacity: 1;
}

#projets .boxliste .boxProjet .projetList .first img {
  margin: 0;
}

.ExpBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

@media (max-width: 707px) {
  .ExpBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.ExpBox .exp {
  width: 31%;
  min-width: 434px;
  margin: 1%;
  background-color: var(--box);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 707px) {
  .ExpBox .exp {
    width: 80%;
    min-width: unset;
  }
}

@media (max-width: 509px) {
  .ExpBox .exp {
    width: 95%;
  }
}

.ExpBox .exp .logoStructure {
  width: 25%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.ExpBox .exp .expInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2%;
}

.ExpBox .exp .expInfo .expdate {
  font-size: 0.7rem;
}

.ExpBox .exp .expInfo .expDescription {
  word-wrap: auto;
}

#contact {
  border-top: solid var(--barre);
  background: var(--box);
  margin-top: 10%;
}

#contact .BoxContact {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 40%;
}

@media (max-width: 850px) {
  #contact .BoxContact {
    min-width: 60%;
  }
}

@media (max-width: 573px) {
  #contact .BoxContact {
    min-width: 70%;
  }
}

@media (max-width: 493px) {
  #contact .BoxContact {
    min-width: 90%;
    height: auto;
  }
}

#contact .BoxContact .contactLink {
  margin: 10px;
  width: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#contact .BoxContact img {
  height: 2.5rem;
}

.fade-in-enter-active {
  -webkit-transition: 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.fade-in-leave-active {
  -webkit-transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fade-in-enter,
.fade-in-leave-to {
  opacity: 0;
}

@-webkit-keyframes flash {
  0% {
    color: var(--mainColor);
  }
  50% {
    color: var(--barre);
  }
  100% {
    color: var(--mainColor);
  }
}

@keyframes flash {
  0% {
    color: var(--mainColor);
  }
  50% {
    color: var(--barre);
  }
  100% {
    color: var(--mainColor);
  }
}
/*# sourceMappingURL=style.css.map */